
.check-box .box {
    -fx-shape: "M0 0 L1 0 1 1 0 1 Z"; /* 네모 모양 지정 */
    -fx-border-width: 1px;           /* 테두리 두께 */
    -fx-padding: 5px;                /* 내부 여백 */
}

/* 선택 표시용 내부 요소(.mark)를 네모 모양으로 */
.check-box .mark {
    -fx-shape: "M0 0 L1 0 1 1 0 1 Z";
}

.root{
    -fx-font-family: Gulim;
}

/* 스크롤바 썸(잡아당기는 부분) */
.scroll-bar .thumb {
    -fx-background-radius: 5px; /* 둥근 모서리 */
}

/* 스크롤바 화살표 버튼 */
.scroll-bar:horizontal .increment-button,
.scroll-bar:horizontal .decrement-button,
.scroll-bar:vertical .increment-button,
.scroll-bar:vertical .decrement-button {
    -fx-background-radius: 5px; /* 둥근 모서리 */
    -fx-padding: 5px;
}

.label{
    font-size: 15px;
    -fx-padding: 5;
    -fx-background-radius: 5;
    -fx-border-radius: 5;
}

.button {
    -fx-border-radius: 10; /* 버튼 모서리 둥글기 */
    -fx-padding: 5 10 5 10; /* 버튼 내부 여백 */
    -fx-background-radius: 10; /* 배경 둥글기 */
}


.button:pressed {
    -fx-translate-y: 2px; /* 눌렀을 때 버튼이 살짝 내려가는 효과 */
}