.list-cell{
    -fx-pref-height: 25px;
}

.text-field{
    -fx-background-radius: 0; /* 버튼 모서리 둥글기 제거 */
}

.root{
    -fx-font-family: Gulim;
}

.button {
    -fx-border-radius: 10; /* 버튼 모서리 둥글기 */
    -fx-padding: 5 10 5 10; /* 버튼 내부 여백 */
    -fx-background-radius: 10; /* 배경 둥글기 */
}

.button:pressed {
    -fx-translate-y: 2px; /* 눌렀을 때 버튼이 살짝 내려가는 효과 */
}

.radio-button .radio {
    -fx-shape: "M0 0 L1 0 1 1 0 1 Z"; /* 네모 모양을 지정하는 SVG 경로 */
    -fx-border-width: 1px; /* 테두리 두께 */
    -fx-padding: 5px; /* 내부 여백 */
}

.radio-button .dot {
    -fx-shape: "M0 0 L1 0 1 1 0 1 Z"; /* 내부 점도 네모 모양으로 */
}

.combo-box {
    -fx-background-radius: 0; /* 버튼 모서리 둥글기 제거 */
}

.combo-box .scroll-bar:vertical {
    -fx-opacity: 0; /* 스크롤바를 완전히 숨김 */
    -fx-pref-width: 0; /* 수직 스크롤바 너비를 0으로 설정 */
    -fx-pref-height: 0; /* 수평 스크롤바 높이를 0으로 설정 */
}

.check-box .box {
    -fx-shape: "M0 0 L1 0 1 1 0 1 Z"; /* 네모 모양 지정 */
    -fx-border-width: 1px;           /* 테두리 두께 */
    -fx-padding: 5px;                /* 내부 여백 */
}

/* 선택 표시용 내부 요소(.mark)를 네모 모양으로 */
.check-box .mark {
    -fx-shape: "M0 0 L1 0 1 1 0 1 Z";
}

.tab-header-background {
    -fx-border-width: 0 0 1px 0;
    -fx-background-color: #F4F4F4;
    -fx-border-color: #A0A0A0;
}

.tab {
    -fx-pref-width: 80px; /* 탭의 선호 너비 */
    -fx-pref-height: 30px;
    -fx-background-radius: 5 5 0 0; /* 탭 배경의 모서리를 둥글게 */
    -fx-border-radius: 5 5 0 0; /* 탭 테두리의 모서리를 둥글게 */
}

.tab .tab-label {
    -fx-text-alignment: CENTER; /* 텍스트 중앙 정렬 */
}

.tab:selected {
    -fx-border-width: 1 1 5 1;
    -fx-focus-color: transparent; /* 포커스 색상 제거 */
    -fx-faint-focus-color: transparent; /* 흐릿한 포커스 색상 제거 */ /* 선택된 탭의 테두리 색상 제거 */
}