.text-field{
    -fx-background-radius: 0; /* 버튼 모서리 둥글기 제거 */
}
.button {
    -fx-border-radius: 10; /* 버튼 모서리 둥글기 */
    -fx-padding: 5 10 5 10; /* 버튼 내부 여백 */
    -fx-background-radius: 10; /* 배경 둥글기 */
}

.button:pressed {
    -fx-translate-y: 2px; /* 눌렀을 때 버튼이 살짝 내려가는 효과 */
}

.root{
    -fx-font-family: Gulim;
}