.radio-button {
    -fx-font-size: 14px; /* 글꼴 크기 */
    -fx-text-fill: white;
}

.anchor-pane {
    -fx-border-color: black;
    -fx-border-width: 1px;
    -fx-border-style: solid none none none;
}

.radio-button .radio {
    -fx-shape: "M0 0 L1 0 1 1 0 1 Z"; /* 네모 모양을 지정하는 SVG 경로 */
    -fx-border-color: #5A5A5A; /* 체크박스 테두리 색상 */
    -fx-border-width: 1px; /* 테두리 두께 */
    -fx-background-color: #1C1F26; /* 체크박스 배경색 */
    -fx-padding: 5px; /* 내부 여백 */
}

.radio-button:selected .radio {
    -fx-background-color: transparent, black; /* 선택된 상태의 색상 */
}

.radio-button .dot {
    -fx-shape: "M0 0 L1 0 1 1 0 1 Z"; /* 내부 점도 네모 모양으로 */
}

.radio-button:selected .dot {
    -fx-background-color: orange; /* 선택된 네모 내부 점 색상 */
}