.button {
    -fx-background-radius: 0; /* 모서리를 둥글게 하지 않음 */
}

/* 스크롤바 썸(잡아당기는 부분) */
.scroll-bar .thumb {
    -fx-background-radius: 5px; /* 둥근 모서리 */
}

/* 스크롤바 화살표 버튼 */
.scroll-bar:horizontal .increment-button,
.scroll-bar:horizontal .decrement-button,
.scroll-bar:vertical .increment-button,
.scroll-bar:vertical .decrement-button {
    -fx-background-radius: 5px; /* 둥근 모서리 */
    -fx-padding: 5px;
}
.root{
    -fx-font-family: Gulim;
}