.button {
    -fx-background-color: #1C1F26; /* 기본 배경색 */
    -fx-border-color: black; /* 테두리 색상 */
    -fx-border-width: 1 1 0 1; /* 테두리 두께 */
    -fx-background-radius: 0; /* 모서리를 둥글게 하지 않음 */
}

/* 마우스가 버튼 위에 있을 때 */
.button:hover {
    -fx-background-color: #333333; /* 배경색 변경 */
    -fx-border-color: orange; /* 테두리 색상 변경 */
}

/* 마우스가 버튼 밖으로 나갈 때 */
.button:focused {
    -fx-background-color: #1C1F26; /* 배경색 원래대로 */
    -fx-border-color: black; /* 테두리 색상 원래대로 */
}