.text-area{
    -fx-text-fill: white;
}
.text-area .content{
     -fx-background-color: black;
 }

/* TabPane 스타일 */
.tab-pane {
    -fx-background-color: #333333; /* 탭 배경 색상 */
}
/* Tab 스타일 */
.tab {
    -fx-pref-width: 150px; /* 탭의 선호 너비 */
    -fx-pref-height: 30px;
    -fx-background-color: #333333; /* 탭 배경 색상 */
    -fx-background-radius: 5 5 0 0; /* 탭 배경의 모서리를 둥글게 */
    -fx-border-color: #333333; /* 탭 테두리 색상 */
    -fx-border-radius: 5 5 0 0; /* 탭 테두리의 모서리를 둥글게 */
}

.tab-header-background {
    -fx-background-color: #333333; /* 탭 뒤쪽의 배경색 */
}

.tab .tab-label {
    -fx-text-fill: white; /* 텍스트 색상 */
    -fx-font-size: 14px;
    -fx-text-alignment: CENTER; /* 텍스트 중앙 정렬 */
}

.tab:selected {
    -fx-border-color: grey;
    -fx-border-width: 1 1 5 1;
    -fx-focus-color: transparent; /* 포커스 색상 제거 */
    -fx-faint-focus-color: transparent; /* 흐릿한 포커스 색상 제거 */ /* 선택된 탭의 테두리 색상 제거 */
}
.choice-box .context-menu {
    -fx-background-color: #1C1F26;
    -fx-pref-width: 150; /* 컨텍스트 메뉴 너비를 오른쪽 CSS와 동일하게 설정 */
}
.choice-box .menu-item:focused {
    -fx-background-color: orange;
}
.choice-box .menu-item > .label {
    -fx-text-fill: white;
    -fx-padding: 0 0 0 20px;
}
.choice-box .menu-item:focused > .label {
    -fx-text-fill: black;
}


.choice-box .menu-item:focused {
    -fx-background-color: orange;
}
.choice-box .menu-item > .label {
    -fx-text-fill: white;
}
.choice-box .menu-item:focused > .label {
    -fx-text-fill: black;
}
.choice-box {
    -fx-background-color: #1C1F26;
    -fx-background-radius: 0; /* 버튼 모서리 둥글기 제거 */
}
.choice-box .label {
    -fx-text-fill: white;
}

.button {
    -fx-font-size : 15px; /* 폰트 크기 */
    -fx-background-color: #222222; /* 버튼 배경색 */
    -fx-text-fill: white; /* 텍스트 색상 */
    -fx-background-radius: 10; /* 버튼 모서리 둥글기 제거 */
    -fx-padding: 5 10 5 10; /* 버튼 내부 여백 */
}

.button:hover {
    -fx-background-color: orange; /* 마우스 올렸을 때 배경색 */
    -fx-text-fill: black; /* 마우스 올렸을 때 텍스트 색상 */
}

.button:pressed {
    -fx-background-color: darkorange; /* 버튼 눌렀을 때 배경색 */
}

.label{
    -fx-text-fill: #E0E0E0;
    -fx-font-size: 15px;
}