.choice-box .context-menu {
    -fx-background-color: black;
    -fx-pref-width: 139;
}
.choice-box .menu-item:focused {
    -fx-background-color: orange;
}
.choice-box .menu-item > .label {
    -fx-text-fill: white;
}
.choice-box .menu-item:focused > .label {
    -fx-text-fill: black;
}
.choice-box {
    -fx-background-color: black;
    -fx-background-radius: 0; /* 버튼 모서리 둥글기 제거 */
}
.choice-box .label {
    -fx-text-fill: white;
}

.button {
    -fx-font-size : 15px; /* 폰트 크기 */
    -fx-background-color: #222222; /* 버튼 배경색 */
    -fx-text-fill: white; /* 텍스트 색상 */
    -fx-border-color: #4A4A4A;
    -fx-border-radius: 10; /* 버튼 모서리 둥글기 제거 */
    -fx-padding: 5 10 5 10; /* 버튼 내부 여백 */
    -fx-background-radius: 10;
}

.button:hover {
    -fx-background-color: orange; /* 마우스 올렸을 때 배경색 */
    -fx-border-color: orange;
    -fx-text-fill: black; /* 마우스 올렸을 때 텍스트 색상 */
}

.button:pressed {
    -fx-background-color: darkorange; /* 버튼 눌렀을 때 배경색 */
}

.label{
    -fx-text-fill: #E0E0E0;
    -fx-font-size: 14px;

}

#defaultSetting{
    -fx-background-radius: 0; /* 버튼 모서리 둥글기 제거 */
}
#makeOwnMsgAnchorPane {
    -fx-background-color: #333333; /* 차콜 그레이 배경색 */
}