.combo-box {
    -fx-background-radius: 0; /* 버튼 모서리 둥글기 제거 */
}

.combo-box .scroll-bar:vertical {
    -fx-opacity: 0; /* 스크롤바를 완전히 숨김 */
    -fx-pref-width: 0; /* 수직 스크롤바 너비를 0으로 설정 */
    -fx-pref-height: 0; /* 수평 스크롤바 높이를 0으로 설정 */
}

.label{
    font-size: 15px;
}

.button {
    -fx-border-radius: 10; /* 버튼 모서리 둥글기 */
    -fx-padding: 5 10 5 10; /* 버튼 내부 여백 */
    -fx-background-radius: 10; /* 배경 둥글기 */
}
.root{
    -fx-font-family: Gulim;
}

.button:pressed {
    -fx-translate-y: 2px; /* 눌렀을 때 버튼이 살짝 내려가는 효과 */
}