.choice-box .context-menu {
    -fx-background-color: black;
    -fx-pref-width: 81; /* 컨텍스트 메뉴 너비를 오른쪽 CSS와 동일하게 설정 */
}
.choice-box .menu-item:focused {
    -fx-background-color: orange;
}
.choice-box .menu-item > .label {
    -fx-text-fill: white;
    -fx-padding: 0 0 0 20px;
}
.choice-box .menu-item:focused > .label {
    -fx-text-fill: black;
}
.choice-box {
    -fx-background-color: black;
    -fx-background-radius: 0; /* 버튼 모서리 둥글기 제거 */
}
.choice-box .label {
    -fx-text-fill: white;
}
.check-box {
    -fx-text-fill: white; /* 글씨 색상을 흰색으로 설정 */
    -fx-font-size: 14px; /* 글씨 크기 설정 */
}
.label{
    -fx-text-fill: #E0E0E0;
    -fx-font-size: 15px;
}
