.text-field{
    -fx-background-color: black;
    -fx-background-radius: 0; /* 버튼 모서리 둥글기 제거 */
    -fx-text-fill: white;
}
.text-field:focused{
    -fx-border-color: orange;
}
.choice-box .context-menu {
    -fx-background-color: black;
    -fx-pref-width: 139;
}
.choice-box .menu-item:focused {
    -fx-background-color: orange;
}
.choice-box .menu-item > .label {
    -fx-text-fill: white;
    -fx-text-alignment: right;
}
.choice-box .menu-item:focused > .label {
    -fx-text-fill: black;
}
.choice-box {
    -fx-background-color: black;
    -fx-background-radius: 0; /* 버튼 모서리 둥글기 제거 */
}
.choice-box .label {
    -fx-text-fill: white;
}
.text-field{
    -fx-font-size: 14px;
}
.button {
    -fx-font-size : 15px;
    -fx-background-color: #222222;
    -fx-text-fill: white;
    -fx-background-radius: 10;
    -fx-padding: 5 10 5 10;
}
.button:hover {
    -fx-background-color: orange; /* 마우스 올렸을 때 배경색 */
    -fx-text-fill: black; /* 마우스 올렸을 때 텍스트 색상 */
}

.button:pressed {
    -fx-background-color: darkorange; /* 버튼 눌렀을 때 배경색 */
}

.label{
    -fx-text-fill: #E0E0E0;
    -fx-font-size: 14px;

}