.choice-box .context-menu {
    -fx-background-color: #1C1F26;
    -fx-pref-width: 100;
    -fx-max-height: 300;
}
.combo-box .context-menu{
    -fx-background-color: #1C1F26;
    -fx-max-height: 300;
    -fx-pref-width: 100;
}
#fillColor .context-menu{
    -fx-max-height: 200;
}
.choice-box .menu-item:focused {
    -fx-background-color: orange;
}
.choice-box .menu-item > .label {
    -fx-text-fill: white;
    -fx-padding: 0 0 0 20px;
}
.choice-box .menu-item:focused > .label {
    -fx-text-fill: black;
}
.choice-box {
    -fx-background-color: #1C1F26;
    -fx-background-radius: 0; /* 버튼 모서리 둥글기 제거 */
}
.choice-box .label {
    -fx-text-fill: white;
}

.combo-box {
    -fx-background-color: #1C1F26;
    -fx-background-radius: 0; /* 버튼 모서리 둥글기 제거 */
    -fx-text-fill: white;
    -fx-font-size: 15px;
}

.combo-box .list-cell {
    -fx-text-fill: white; /* 드롭다운 목록의 기본 텍스트 색상 */
}
.combo-box .arrow-button {
    -fx-background-color: #1C1F26; /* 화살표 버튼 배경색 */
}
.combo-box .arrow-button .arrow {
    -fx-background-color: white; /* 화살표 색상 */
}
.combo-box .list-view .list-cell {
    -fx-background-color: #1C1F26; /* 각 항목의 배경색 */
    -fx-text-fill: white; /* 텍스트 색상 */
}
.combo-box .list-view .list-cell:hover {
    -fx-background-color: orange; /* 각 항목의 배경색 */
    -fx-text-fill: black; /* 텍스트 색상 */
}

.combo-box .scroll-bar:vertical {
    -fx-opacity: 0; /* 스크롤바를 완전히 숨김 */
    -fx-pref-width: 0; /* 수직 스크롤바 너비를 0으로 설정 */
    -fx-pref-height: 0; /* 수평 스크롤바 높이를 0으로 설정 */
}

.button {
    -fx-background-color: #222222; /* 버튼 배경색 */
    -fx-text-fill: white; /* 텍스트 색상 */
    -fx-font-size: 14px; /* 폰트 크기 */
    -fx-padding: 5 10 5 10; /* 버튼 내부 여백 */
}

.button:hover {
    -fx-background-color: orange; /* 마우스 올렸을 때 배경색 */
    -fx-text-fill: black; /* 마우스 올렸을 때 텍스트 색상 */
}

.button:pressed {
    -fx-background-color: darkorange; /* 버튼 눌렀을 때 배경색 */
}

.label{
    -fx-text-fill: #E0E0E0;
    -fx-font-size: 15px;
}